{% extends '_base.html' %}
{% load i18n %}
{% load humanize %}
{% block content %}

    <div class="hero-content">
        <h2>{% trans 'از طریق شماره های زیر میتوانید با ما در ارتباط باشید .' %}</h2>
        <h3>{% trans '09133393234' %}</h3>
        <h2>{% trans 'واحد حسابداری ' %}</h2>
        <h3>{% trans '09131189747' %}</h3>
        <a type="submit" href="{% url 'home' %}" class="reserve-btn">{% trans 'خانه' %}</a>
    </div>
{% endblock %}



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d838.752323089107!2d51.65533090045559!3d32.76548796033608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fbdcb00799d2255%3A0xafeeeb8442a54802!2z2LXZhtin24zYuSDYsduM2K7YqtmHINqv2LHbjCDYqtix2qnYp9mG!5e0!3m2!1sen!2s!4v1750154804981!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>