{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load jalali_tags %}
{% load i18n %}
{% load static %}
{% block head %}
    <!-- Flatpickr (Local) -->
    <link rel="preload" as="style" href="{% static 'css/flatpickr.min.css' %}"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
    </noscript>
    <script src="{% static 'js/flatpickr.min.js' %}" defer></script>
    <script src="{% static 'js/flatpickr.fa.js' %}" defer></script>
    <!-- FullCalendar CSS & JS -->
    <link href="{% static 'admin/css/django_jalali.min.css' %}" media="all" rel="stylesheet">
    <script src="{% static 'admin/js/django_jalali.min.js' %}" defer></script>
    <script src="{% static 'js/datepicker-config.js' %}" defer></script>
    <!-- Calendar and Time picker customization Css -->
    <link rel="preload" as="style" href="{% static 'css/time-picker-calendar.css' %}"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/time-picker-calendar.css' %}">
    </noscript>
    <script src="{% static 'js/flatpickr-custom-arrows.js' %}" defer></script>
    <!-- icon Style -->
    <link rel="stylesheet" href="{% static 'css/icon.css' %}">
    <!-- Messages alert symbol -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
{% endblock %}


{% block content %}
    <div class="hero-content">
        <form method="POST">
            {% csrf_token %}
            <p>{% trans 'Please enter your suggested time to book an appointment.' %}</p>
            <p><strong>{% trans 'Note that the time you select is not guaranteed.' %}</strong></p>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>
                        <div style="margin-right: 0.5rem;">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi-calendar2-event" viewBox="0 0 16 16">
                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                {{ form.suggested_reservation_date | as_crispy_field }}
            </div>
            <div class="position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-clock"
                     viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                </svg>
                {{ form.suggested_reservation_time | as_crispy_field }}
            </div>
            <div class="position-relative">
                {{ form.explanation | as_crispy_field }}
            </div>
            <button type="submit" class="reserve-btn">{% trans 'reserve' %}</button>
        </form>
    </div>
{% endblock %}