{% extends '_base.html' %}
{% load jalali_tags %}
{% load static %}
{% block head %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{#    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">#}
{% endblock %}

{% block content %}
    <div class="hero-content">
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="reserve-btn"> reserve </button>
        </form>
        {{ form.media }}
    </div>
{#<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>#}
{#<script src="{% static 'admin/js/core.js' %}"></script>#}
{% endblock %}

