#main-image {
    object-fit: cover;
    max-height: 450px;
    min-height: 100px;
}

@media (max-width: 400px) {
    .card h1 {
        font-size: 1.2rem !important;
    }
    #p-exp {
        font-size: 0.8rem !important;
    }
    .reserve-btn {
        font-size: 0.8rem !important;
    }
}