{% extends '_base.html' %}
{% load humanize %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block head %}
    <div class="prices"></div>
{% endblock %}

{% block content %}
    <div class="hero-content">
        <h1>{% trans 'Enter your phone number to book an appointment.' %}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="reserve-btn"> {% trans 'Get validation code' %}</button>
        </form>
    </div>
{% endblock %}

