{% extends '_base.html' %}
{% load i18n %}
{% block head %}
<style>

.hero-content p{
    font-size: 1rem; !important;
}
</style>
{% endblock head %}
{% block content %}
    <div class="hero-content">
        <h2> {% trans 'Your appointment has been temporarily booked.' %} </h2>
        <p>{% trans 'We will contact you soon to arrange a definitive reservation.' %} </p>
        <p>{% trans 'Thank you for your patience.' %}</p>
        <a type="submit" href="{% url 'home' %}" class="reserve-btn">{% trans 'return home' %}</a>
    </div>
{% endblock %}